@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* DISPLAY */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    /* DIMENSIONS */
    min-height: 100vh;

    /* COLOUR */
    background-color: #444444;
    color: white;

    /* FONT */
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 0.10rem;
}

a {
    /* FONT */
    text-decoration: none;

    /* COLOUR */
    color: white;
}

a:visited, a:active {
    /* COLOUR */
    color: white;
}

/* HEADER STYLING */
header {
    /* DISPLAY */
    display: flex;
    justify-content: center;
    align-items: center;

    /* POSITION */
    position: relative;

    /* DIMENSIONS */
    min-height: 64px;

    /* COLOUR */
    background-color: black;
}

#pulse-container {
    /* POSITION */
    position: absolute;
    top: 64px;
    overflow: hidden;

    /* DIMENSIONS */
    width: 100%;
    height: 10px;
}

#pulse-container span {
    /* POSITION */
    position: absolute;

    /* DIMENSIONS */
    height: 1px;
    width: 100%;

    /* COLOUR */
    background: linear-gradient(to right, #444444, whitesmoke);

    /* ANIMATION */
    animation: animate0 5s linear infinite;
    animation-delay: 1s;
}

@keyframes animate0 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* MAIN STYLING */
main {
    /* DISPLAY SELF */
    align-self: center;

    /* DISPLAY */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    /* DIMENSIONS */
    width: 90%;
    height: auto;

    /* COLOUR */
}

figure {
    /* DISPLAY */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

figcaption {
    /* DISPLAY */
    display: flex;
    justify-content: center;
    align-items: center;

    /* DIMENSIONS */
    width: 100%;
    min-height: 100px;

    /* FONT */
    font-size: 2rem;
}

main figure:nth-child(1) figcaption {
    /* COLOUR */
    background-color: #355e3b;
}

main figure:nth-child(2) figcaption {
    /* COLOUR */
    background-color: #65081f;
}

main figure:nth-child(3) figcaption {
    /* COLOUR */
    background-color: #2990B5;
}

/* FOOTER STYLING */
footer {
    /* DISPLAY */
    display: flex;
    justify-content: center;
    align-items: center;

    /* DIMENSIONS */
    width: 100%;
    min-height: 100px;

    /* COLOUR */
    background-color: black;
}

#socials img {
    /* DIMENSIONS */
    width: 30px;
    height: 30px;
    margin: 0 1rem 0 1rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
    main {
        flex-direction: row;
    }

    figure {
        width: 30%;
    }

    figure:hover {
        transform: scale(1.05);
    }
}